{
    "printWidth": 100,
    "tabWidth": 4,
    "tabs": false,
    "singleQuote": true,
    "semicolon": false,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "trailingComma": "es5",
    "bracketSameLine": true,
    "endOfLine": "auto"
}
