:host {
    ::ng-deep {
        .p-toast-message-icon {
            padding-right: 1rem;
        }
        .p-toast .p-toast-message.p-toast-message-success,
        .p-toast .p-toast-message.p-toast-message-error {
            border: 0;
        }
        @media (max-width: 425px) {
            .p-toast {
                width: 250px !important;
                min-width: 200px !important;
            }
        }
    }
}
